numpy
opencv-python-headless
mediapipe>=0.10.0
streamlit_lottie
streamlit_webrtc
streamlit
google-generativeai
requests
plotly
pydataset
streamlit-extras
av
aiortc
pysoundfile
tensorflow>=2.10.0,<2.12.0  # Use full TensorFlowtensorflow>=2.10.0,<2.12.0  # Use full TensorFlow
# Uncomment below line if using TensorFlow Lite only
tflite-runtime==2.11.0
