numpy
opencv-python-headless
mediapipe>=0.10.0
streamlit_lottie
streamlit_webrtc
streamlit
google-generativeai
requests
plotly
pydataset
streamlit-extras
av
aiortc
pysoundfile
tensorflow>=2.10.0,<2.12.0
